body {
    background: url("image/red.jpg");
}

#container {
    width: 800px;
    margin: auto;
    background: url("image/red.jpg") no-repeat 50% 50%;
}

header {
    padding: 40px;
    height: 80px;
    background-color: #142850;
}

header h1 {
    font-size: 3rem;
}

nav {
    padding: 8px 40px;
    background-color: #142850;
    color: #dae1e7;
    font-size: 1.3rem;
}

#contents {
    padding: 40px;
    height: 400px;
    color: #dae1e7;
    background-color: #142850;
}

footer {
    padding: 40px;
    height: 40px;
    background-color: #142850;
    color: #dae1e7;
}
